* {
    /* параметры всего документа */
    margin: 0; /* отступы 0 */
    padding: 0; /* поля 0 */
    font-size: 18pt; /* высота шрифта на странице */
}

body {
    /* параметры тела документа */
    padding: 0; /* поля 0 */
}

#conteiner {
    /* создаем контейнер */
    width: 75%; /* ширина контейнера в процентах от ширины экрана */
    margin: 0 auto; /* отступы сверху и снизу 0, справа и слева автоматически */
    position: relative; /* объявляем контейнер родительским элементом */
}

#top {
    /* шапка сайта */
    width: 100%; /* ширина шапки равна ширине контейнера */
    height: 140px; /* высота шапки */
    background: #87CEEB; /* фоновый цвет шапки */
}

#left_bar {
    /* левая колонка */
    width: 160px; /* ширина левой колонки */
    height: 350px; /* высота левой колонки */
    background: #98FB98; /* фон левой колонки */
    float: left; /* обтекание других блоков слева */
}

#main {
    /* центральная колонка */
    height: 350px; /* высота центральной колонки */
    background: #FFB6C1; /* фон центральной колонки */
    margin-left: 160px; /* отступ блока от левого края контейнера */
    margin-right: 160px; /* отступ блока от правого края контейнера */
}

#right_bar {
    /* правая колонка */
    width: 160px; /* ширина правой колонки */
    height: 350px; /* высота правой колонки */
    background: #98FB98; /* фон правой колонки */
    position: absolute; /* блок является дочерним элементом */
    top: 140px; /* отступ от верха родительского элемента */
    right: 0px; /* отступ от правого края контейнера */
    float: right; /* обтекание других блоков справа */
}

#footer {
    /* подвал сайта */
    width: 100%; /* ширина подвала равна ширине контейнера */
    height: 175px; /* высота подвала */
    background: #FFA07A; /* фоновый цвет подвала */
    clear: both; /* запрет обтекания с обеих сторон */
}
