* {
    margin: 0; /* Отступы 0 */
    padding: 0; /* Поля 0 */
    font-size: 18pt; /* Высота шрифта на странице */
}

body {
    padding: 0; /* Поля 0 */
}

#conteiner {
    width: 75%; /* Ширина контейнера в процентах от ширины экрана */
    margin: 0 auto; /* Отступы сверху и снизу 0, по центру */
}

#top {
    width: 100%; /* Ширина шапки равна ширине контейнера */
    height: 140px; /* Высота шапки */
    background: #87CEEB; /* Фоновый цвет шапки */
}

#left_bar {
    width: 20%; /* Ширина левой колонки в процентах от ширины контейнера */
    height: 350px; /* Высота левой колонки */
    background: #90EE90; /* Фон левой колонки */
    float: left; /* Обтекание других блоков слева */
}

#main {
    width: 55%; /* Ширина центральной колонки */
    height: 350px; /* Высота центральной колонки */
    background: #FFB6C1; /* Фон центральной колонки */
    float: left; /* Обтекание других блоков слева */
}

#right_bar {
    width: 25%; /* Ширина правой колонки */
    height: 350px; /* Высота правой колонки */
    background: #90EE90; /* Фон правой колонки */
    float: right; /* Обтекание других блоков справа */
}

#footer {
    width: 100%; /* Ширина подвала равна ширине контейнера */
    height: 75px; /* Высота подвала */
    background: #FFA07A; /* Фон подвала */
    clear: both; /* Запрет обтекания с обеих сторон */
}
